extends ../layout

block content
  form(action='/books/search/')
    input(name="search" type="text" id="searchInput" placeholder="Search")
  h1= title
  p
    a(href="/books/new", class="button") Create New Book
  table(style='width:100%')
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
      tbody
        each book in books
          tr
            td 
              a(href="/books/" + book.id + "/book_details")= book.title
            td= book.author
            td= book.genre
            td= book.year
            
  div
    if reqPage > 1
      a(href=`?page=${reqPage - 1}&limit=${reqLimit}` class="anchorLeft") < Previous
    
    //- - var n = 0;
    //-   ul
    //-     while n < books.length
    //-       a(href=`?page=${reqPage + 1}&limit=${reqLimit}` class="pageNumber")= n+1

    if reqLimit === booksListed
      a(href=`?page=${reqPage + 1}&limit=${reqLimit}` class="anchorRight") Next >
