extends ../layout

block content
  form(action=`/books/search/`)
    input(name="search" type="text" id="searchInput" placeholder="Search: (Title, Author, Genre or Year)") 
    input(name="page" type="hidden" id="pageInput" value='1') 
    input(name="limit" type="hidden" id="limitInput" value=`${reqLimit}`) 
    a(class="clearbutton" href=`/books/${urlParams}`) X
  h1= title
  p
    a(href="/books/new", class="button") Create New Book
  table(style='width:100%')
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
      tbody
        each book in books.rows
          tr
            td 
              a(href="/books/" + book.id + "/book_details")= book.title
            td= book.author
            td= book.genre
            td= book.year

  if search
    div

      - var n = 1;
      ul(class="page-link-container")
        while n <= pages
          a(href=`?search=${search}&page=${n}&limit=${reqLimit}` class="page-links ")
            li(class=(reqPage === n ? "active" : undefined))= n++

      if reqPage > 1
        a(href=`?search=${search}&page=${reqPage - 1}&limit=${reqLimit}` class="anchorLeft") < Previous
      
      if reqPage < pages
        a(href=`?search=${search}&page=${reqPage + 1}&limit=${reqLimit}` class="anchorRight") Next >
  else
    div

      - var n = 1;
      ul(class="page-link-container")
        while n <= pages
          a(href=`?page=${n}&limit=${reqLimit}` class=(reqPage === n ? "active page-links" : "page-links"))
            li= n++

      if reqPage > 1
        a(href=`?page=${reqPage - 1}&limit=${reqLimit}` class="anchorLeft") < Previous

      if reqPage < pages
        a(href=`?page=${reqPage + 1}&limit=${reqLimit}` class="anchorRight") Next >
